@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-quartz.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  @media screen and (min-width: 300px) {
    font-size: calc(1vw + 12px);
  }

  @media screen and (min-width: 900px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker__tab-loop {
  width: 0px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.ag-header-cell-text {
  padding: 0.2em 0;
}
